body {
  background-color: rgb(204, 199, 191);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px auto;
  padding: 0;
  width: 600px;
  justify-content: center;
}

.tasks-table  {
  border-collapse: collapse;
  width: 100%;
}

.tasks-table p {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(106, 41, 167);
  color: white;
}

li {
  list-style: none;
}

.tasks-table ol, .tasks-table li {
  border: 1px solid #ddd;
  padding: 8px;
}

.tasks-table li:hover {background-color: #ddd;}

.textul {  
  margin: 0px;
  font-weight: 600;    
}  

.input {
  border-radius: 5px;
  margin: 0px 5px;
  border: none;
  padding: 10px;
}

.span {
  margin-right: 5px;
}

.buttom {
  margin-right: 5px;
  margin-left: 15px;
  padding: 10px 20px;
  background-color: rgb(106, 41, 167);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  opacity: 90%;
}

.list {
  color: rgb(106, 41, 167);
  font-weight: 600;
  background-color: white;
}

.completed {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgb(146, 146, 146);
}

.span {
  color: rgb(106, 41, 167);
}